version: 2
jobs:
  build:
    docker:
      - image: alpine
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: "Install Docker Engine"
          command: |
            apk add --update curl openssh-client
            VER="17.12.1"
            curl -fsSLO https://download.docker.com/linux/static/stable/x86_64/docker-$VER-ce.tgz && tar --strip-components=1 -xvzf docker-$VER-ce.tgz -C /usr/local/bin
      - run:
          name: "Build + Push Algo Docker Image"
          command: |
            docker build --compress -t danackerson/algo_vpn:vc$CIRCLE_BUILD_NUM .
            docker login -u $DOCKER_USER -p $DOCKER_PASS
            docker push danackerson/algo_vpn:vc$CIRCLE_BUILD_NUM

      - type: add-ssh-keys
        name: "Load key"
        fingerprints:
          - "93:c4:61:21:a6:82:d8:6d:4f:73:11:79:37:23:83:07"
      - run:
          name: Start ssh-agent
          command: |
            ssh-agent -s > ~/.ssh_agent_conf
            source ~/.ssh_agent_conf
            for _k in $(ls ${HOME}/.ssh/id_*); do
              ssh-add ${_k} || true
            done

      - run:
          name: Disable Digital Ocean firewall for deploy
          command: |
            apk add -U jq
            curl -s https://raw.githubusercontent.com/danackerson/digitalocean/master/utils/disableFW.sh | sh

      - deploy:
          name: "deploy to Digital Ocean Droplet & launch VPN"
          command: |
            export DEPLOY_SERVER=deploy.ackerson.de
            echo "Deploy to $DEPLOY_SERVER"

            source ~/.ssh_agent_conf
            ssh-add -l

            export DEPLOY_CONNECT="ssh -o StrictHostKeyChecking=no ackersond@$DEPLOY_SERVER"

            $DEPLOY_CONNECT docker rm -f algo_vpn || true
            $DEPLOY_CONNECT sudo rm -Rf /home/ackersond/algo_vpn/*
            $DEPLOY_CONNECT docker pull danackerson/algo_vpn:vc$CIRCLE_BUILD_NUM
            $DEPLOY_CONNECT docker run -e region=$REGION \
              -e slack_token=$SLACK_TOKEN \
              -e do_token=$digitalOceanToken \
              -v /home/ackersond/algo_vpn:/algo-master/configs \
              --name algo_vpn danackerson/algo_vpn:vc$CIRCLE_BUILD_NUM && docker restart traefik

      - run:
          name: Reenable Digital Ocean firewall
          command: |
            curl -s https://raw.githubusercontent.com/danackerson/digitalocean/master/utils/reenableFW.sh | sh
          when: always
